
/* Common */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

html, body {
  font-family: "Roboto", sans-serif;
  overflow: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.title-reset,
.p-reset {
  padding: 0;
  margin: 0;
}


/* Colors */

:root {
  --main-color: #3F2AFF;
  --white-color: #FFFFFF;
  --dark-color: #2E2B44;
  --dark-color-2: #666666;
  --dark-color-3: #212133;
  --dark-color-4: #85859B;
  --dark-color-5: #EDF0F9;

  --hover: #0ad142;
  --active: #a4d30b;
}


/* Header */

.header {
  background-color: var(--main-color);
}

.header__row {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 32px 20px 28px 20px;
}

.header__svg {
  fill: var(--white-color);
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: var(--white-color);
  margin: 0;
}

.header__item {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.header__link {
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.header__item:not(:last-child) {
  margin-right: 56px;
}

/* Animation */

.header__svg:hover {
  fill:var(--hover);
}

.header__svg:active {
  fill:var(--active);
  -webkit-transform: translateY(3px);
  -ms-transform: translateY(3px);
  transform: translateY(3px);
}

.header__link:focus {
  color: var(--hover);
}

.header__link:hover {
  color: var(--hover);
}

.header__link:active {
  color: var(--active);
  -webkit-transform: translateY(5px);
  -ms-transform: translateY(5px);
  transform: translateY(5px);
}

/* Hero */

.hero {
  background: -o-radial-gradient(67.78% 55.93%, 44.07% 44.07%, #555681 0%, #212133 100%);
  background: radial-gradient(44.07% 44.07% at 67.78% 55.93%, #555681 0%, #212133 100%);
  position: relative;
}

.hero__row {
  padding: 12px 0 13px 0;
  display: flex;
}

.hero__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  z-index: 2;
  max-width: 45%;
}

.hero__title {
  font-weight: 700;
  font-size: 60px;
  line-height: 100%;
  color: var(--white-color);
  margin-bottom: 27px;
}

.hero__subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: var(--white-color);
  margin-bottom: 60px;
}

.hero__button {
  padding: 24px 75.5px;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: var(--main-color);
  border-radius: 20px;
  cursor: pointer;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  border: none;
  color: var(--white-color);
}

.hero__link {
  width: 100%;
  height: 100%;
  color: var(--white-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}

.hero__image {
  z-index: 1;
  position: relative;
}


/* Animation */

.hero__button:focus{
  outline: var(--active);
}

.hero__button:hover {
  background: var(--hover);
}

.hero__button:active {
  background: var(--active);
  -webkit-transform: translateY(3px);
  -ms-transform: translateY(3px);
  transform: translateY(3px);
}

/* Advantages */

.advantages {
  padding-top: 82px;
  padding-bottom: 63px;
}

.advantages__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.advantages__image {
  width: 160px;
  height: 142px;
  margin-top: 20px;
  margin-right: 30px;
}

.advantages__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  color: var(--dark-color);
  margin-bottom: 14px;
  width: 50%;
}

.advantages__subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #666666;
  width: 63%;
  margin: 0;
  margin-bottom: 9px;
}

.advantage {
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.advantage__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.advantage__image {
  width: 80px;
  height: 80px;
}

.advantage__image:not(:last-child) {
  margin-right: 30px;
}

.advantage__text {
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  color: var(--dark-color-2);
  max-width: 240px;
  margin: 0;
  padding-top: 10px;
}

/* Curators */

.curators__container-fluid{
  padding-top: 75px;
  padding-bottom: 60px;
}


.curators {
  background-color: var(--dark-color-3);
}

.curators__title{
  margin: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  color: var(--white-color);
}

.curators__photo {
  border-radius: 28px 28px 0 0;
  width: 100%;
  object-fit: cover;
}

.curators__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  color: var(--white-color);
  margin: 0;
  margin-top: 30px;
}

.curators__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #85859B;
  margin: 0;
  margin-top: 5px;
}

/* Courses */

.courses__container {
  padding-top: 73px;
  padding-bottom: 83px;
}

.courses__row:not(:last-child) {
  margin-bottom: 30px;
}

.courses__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  color: var(--dark-color-3);
  margin-bottom: 25px;
}

.card {
  position: relative;
}

.card__duration {
  position: absolute;
  top: 10px;
  right: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.duration__time {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: var(--white-color);
}

.inner-1 {
  background:url(./../images/courses-1.jpg), #EDF0F9;
}

.inner-2 {
  background:url(./../images/courses-2.jpg), #EDF0F9;
}

.inner-3 {
  background:url(./../images/courses-3.jpg), #EDF0F9;
}

.inner-4 {
  background:url(./../images/courses-4.jpg), #EDF0F9;
}

.card__inner{
  background-repeat: no-repeat;
  background-size: auto;
  padding: 192px 30px 30px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-radius: 20px;
}

.card__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  color: var(--dark-color-3);
  margin-bottom: 6px;
}

.card__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--dark-color-2);
}

.card__button {
  margin-top: 50px;
  padding: 20.5px 59px;
  background-color: var(--main-color);
  color: var(--white-color);
  border-radius: 20px;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

/* Animation */

.card__button:focus {
  background-color: var(--active);
}

.card__button:hover {
  background-color: var(--hover);
}

.card__button:active {
  background-color: var(--active);
  -webkit-transform: translateY(3px);
  -ms-transform: translateY(3px);
  transform: translateY(3px);
}

/* Footer */
.footer {
  background-color: var(--dark-color);
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer__button:not(:last-child) {
  margin-right: 34px;
}

.footer__button {
  fill: var(--white-color);
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.footer__container--bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.footer__bottom {
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #333333;
  padding: 0;
  margin: 0;
  padding-top: 3px;
}

.footer__bottom span {
  color: var(--main-color);
}

/* Animation */

.footer__button:focus {
  fill: var(--active);
}

.footer__button:hover {
  fill: var(--hover);
}

.footer__button:active {
  fill: var(--active);
  -webkit-transform: translateY(3px);
  -ms-transform: translateY(3px);
  transform: translateY(3px);
}
