
/* Common */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

html, body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

.title-reset,
.p-reset {
  padding: 0;
  margin: 0;
}

.container-fluid {
  padding: 0;
}


/* Colors */

:root {
  --main-color: #3F2AFF;
  --white-color: #FFFFFF;
  --dark-color: #2E2B44;
  --dark-color-2: #666666;
  --dark-color-3: #212133;
  --dark-color-4: #85859B;
  --dark-color-5: #EDF0F9;

  --hover: #0ad142;
  --active: #a4d30b;
}


/* Header */

.container-header {
  margin: 0 auto;
  padding-right: calc((100% - 1110px) / 2);
  padding-left: calc((100% - 1110px) / 2);
  max-width: 100%;
  color: var(--white-color);
  background-color: var(--main-color);
}

.header-row {
  justify-content: space-around;
  align-items: center;
  margin: 0;
  height: 80px;
}

.header-col {
  padding: 0;
  max-width: 641px;
}

.header-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.header-item:not(:last-child) {
  margin-right: auto;
}

.header-link {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: var(--white-color);
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.header-link:hover {
  color: var(--hover);
}

.header-link:focus {
  color: var(--hover);
}

.header-link:active {
  color: var(--active);
}


/* ---------------------- main ---------------------- */

.container-main {
  margin: 0 auto;
  max-width: 100%;
  padding-right: calc((100% - 1440px) / 2);
  padding-left: calc((100% - 1440px) / 2);
}

/* ---------------------- hero ---------------------- */

.section-hero {
  position: relative;
  z-index: 0;
  margin-bottom: 80px;
  padding: 130px 165px;
  padding-right: calc((100% - 1110px) / 2);
  padding-left: calc((100% - 1110px) / 2);
  background: radial-gradient(44.07% 44.07% at 67.78% 55.93%, #555681 0%, #212133 100%);
}

.hero-title {
  margin: 0;
  padding: 0;
  margin-bottom: 29px;
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
  color: var(--white-color);
}

.hero-preview {
  margin: 0;
  padding: 0;
  margin-bottom: 61px;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: var(--white-color);
}

.hero-btn {
  outline: none;
  border: none;
  border-radius: 20px;
  max-width: 270px;
  width: 100%;
  min-height: 69px;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: var(--white-color);
  background-color: var(--main-color);
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}


.hero-btn:hover {
  background-color: var(--dark-color-4);
}

.hero-btn:focus {
  background-color: var(--dark-color-4);
}

.hero-btn:active {
  background-color: var(--dark-color-3);
}

.hero-object {
  position: absolute;
  z-index: -1;
  top: 14px;
  right: 166px;
}

/* ---------------------- advantage ---------------------- */

.section-advantage {
  margin-bottom: 58px;
  padding-right: calc((100% - 1110px) / 2);
  padding-left: calc((100% - 1110px) / 2);
}

.advantage-row {
  margin-bottom: 22px;
}

.advantage-col-img {
  padding-top: 22px;
  margin-right: 14px;
}

.advantage-title {
  margin: 0;
  padding: 0;
  margin-bottom: 18px;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  color: var(--dark-color)
}

.advantage-preview {
  margin: 0;
  padding: 0;
  max-width: 600px;
  color: var(--dark-color-2);
  line-height: 24px;
}

.advantage-list {
  padding: 0;
}

.advantage-item {
  letter-spacing: 0.1px;
  line-height: 18.9px;
}

.advantage-item-img {
  margin-right: 17px;
}

.advantage-item-descr {
  padding-top: 13px;
  max-width: 260px;
  width: 100%;
}

/* ---------------------- teacher ---------------------- */

.section-teacher {
  margin-bottom: 74px;
  padding-top: 74px;
  padding-right: calc((100% - 1110px) / 2);
  padding-left: calc((100% - 1110px) / 2);
  padding-bottom: 44px;
  background-color: var(--dark-color-3);
}

.teacher-title {
  margin: 0;
  padding: 0;
  margin-bottom: 24px;
  color: var(--white-color);
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
}

.teacher-list {
  justify-content: space-between;
  margin: 0;
  padding: 0;
  max-width: 1110px;
}

.teacher-item {
  padding: 0;
  margin-bottom: 30px;
  max-width: 255px;
}

.teachet-img-container {
  margin-bottom: 28px;
}

.teacher-card-name {
  margin: 0;
  padding: 0;
  margin-bottom: 6px;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  color: var(--white-color);
}

.teacher-card-descr {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--dark-color-4);
}

/* ---------------------- course ---------------------- */

.section-course {
  margin-bottom: 50px;
  padding-right: calc((100% - 1110px) / 2);
  padding-left: calc((100% - 1110px) / 2);
}

.course-title {
  margin: 0;
  padding: 0;
  margin-bottom: 23px;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  color: var(--dark-color-3);
}

.course-list {
  margin: 0;
  padding: 0;
}

.course-item {
  position: relative;
  border-radius: 20px;
  margin-bottom: 30px;
  padding: 210px 30px 30px 30px;
  max-width: 540px;
  min-height: 480px;
  background-color: var(--dark-color-5);
}

.course-item:not(:nth-child(2n)) {
  margin-right: 30px;
}

.cours-card-img {
  position: absolute;
  top: 0;
  left: 0;
}

.time-course {
  position: absolute;
  top: 13px;
  right: 5px;
  margin: 0;
  padding: 0;
  padding-left: 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: var(--white-color);
  background-image: url(../img/time-course.png);
  background-repeat: no-repeat;
  background-position: left 4px center;
}

.course-card-name {
  margin: 0;
  padding: 0;
  margin-bottom: 7px;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  color: var(--dark-color-3);
}

.course-card-preview {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--dark-color-2);
}

.cou-it-1 .course-card-preview {
  margin-bottom: 49px;
}

.cou-it-2 .course-card-preview {
  margin-bottom: 49px;
}

.cou-it-3 .course-card-preview {
  margin-bottom: 73px;
}

.cou-it-4 .course-card-preview {
  margin-bottom: 49px;
}

.course-btn {
  outline: none;
  border: none;
  border-radius: 20px;
  max-width: 202px;
  width: 100%;
  min-height: 60px;
  color: var(--white-color);
  background-color: var(--main-color);
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.course-btn:hover {
  background-color: var(--dark-color-4);
}

.course-btn:focus {
  background-color: var(--dark-color-4);
}

.course-btn:active {
  background-color: var(--dark-color);
}

/* ---------------------- footer ---------------------- */

.container-footer {
  margin: 0 auto;
  max-width: 100%;
  min-height: 80px;
}

.footer-social {
  justify-content: center;
  align-items: center;
  margin: 0;
  margin-bottom: 3px;
  min-height: 80px;
  background-color: var(--dark-color);
}

.footer-social-link {
  display: inline-block;
  margin: 0;
  padding: 0;
  margin-right: 30px;
  padding-left: 16px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.footer-social-link:hover path {
  fill: var(--dark-color-2);
}

.footer-social-link:focus path {
  fill: var(--dark-color-2);
}

.footer-social-link:active path {
  fill: var(--dark-color-3);
}

.footer-copiright {
  justify-content: center;
  text-align: center;
  margin: 0;
}

.copiright {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: var(--dark-color-3);
}

.russian-copiright {
  color: var(--main-color);
}

/* ---------------------- span ---------------------- */

.span-2 {
  display: none;
}

.span-4 {
  display: none;
}

.span-6 {
  display: none;
}

.span-8 {
  display: none;
}

.span-10 {
  display: none;
}

.span-12 {
  display: none;
}

.span-14 {
  display: none;
}

.span-16 {
  display: none;
}
