html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

@font-face {
  font-family: "Muller";
  src: url("../fonts/MullerRegular.woff2") format("woff2"),
    url("../fonts/MullerRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: url("../fonts/MullerBold.woff2") format("woff2"),
    url("../fonts/MullerBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: url("../fonts/MullerLight.woff2") format("woff2"),
    url("../fonts/MullerLight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: url("../fonts/MullerMedium.woff2") format("woff2"),
    url("../fonts/MullerMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

body {
  min-width: 1220px;
  font-family: "Muller", "sans-serif";
  font-weight: 400;
  background: #E5E5E5;
}

* {
  margin: 0;
  padding: 0;
}

.title{
  visibility: hidden;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.flex {
  display: flex;
}

.header-section {
  margin-bottom: 20px;
  padding-left: 40px;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: #333333;
}

.section-all {
  padding-bottom: 70px;
}

.btn {
  padding: 13px 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  background-color: #FFFFFF;
  color: #CC9933;
  border: 1px solid #CC9933;
  border-radius: 10px;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.btn:focus {
  background-color: #CC9933;
  color: #FFFFFF;
  border: 1px solid #CC9933;
}

.btn:focus-visible {
  outline: none;
}

.btn:hover {
  background-color: #CC9933;
  color: #FFFFFF;
}

.btn:active {
  background-color: #A47312;
  color: #FFFFFF;
}

:root {
  --yellow-first: #CC9933;
  --yellow-second: #A47312;
  --yellow-third: #F0BF5F;
  --black: #000000;
  --white: #FFFFFF;
  --grey-dark: #333333;
  --grey-darker: #666666;
  --grey-first: #999999;
  --grey-second: #E9E9E9;
  --grey-third: #F1F1F1;
  --grey-light: #FFFFFF;
}

/* header */


.header{
  padding: 35px 0;
}

.container-header {
  align-items: center;
  margin-bottom: 30px;
}

.header-logo {
  margin-right: 40px;
}

.personal-area svg {
  fill: #CC9933;
  transition: fill 0.3s ease-in-out;
}

.personal-area {
  margin-left: auto;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #CC9933;
  transition: color 0.3s ease-in-out;
}

.personal-area:focus {
  color: #CC9933;
  outline-offset: 5px;
  outline: 1px solid #CC9933;
}

.personal-area:hover {
  color: #F0BF5F;
}

.personal-area:hover svg {
  fill: #F0BF5F;
}

.personal-area:active {
  color: #A47312;
  outline-offset: 0;
  outline: 0;
}

.personal-area:active svg {
  fill: #A47312;
}

.header-list-item:not(:last-child){
  margin-right: 45px;
}

.header-linc {
  transition: color 0.3s ease-in-out;
}

.header-linc:focus {
  color: #CC9933;
  outline: 1px solid #CC9933;
  outline-offset: 5px;
}

.header-linc:hover {
  color: #CC9933;
}

.header-linc:active {
  color: #A47312;
  outline: 0;
  outline-offset: 0;
}

.container-nav {
  align-items: center;
  justify-content: space-between;
  padding: 14px 45px 14px 45px;
  background: #FFFFFF;
  border-radius: 15px;
}

.header-btn:nth-last-child(n+2) {
  margin-right: 40px;
}

.contact-tel {
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: #666666;
  transition: color 0.3s ease-in-out;
}

.contact-tel:focus {
  color: #CC9933;
  outline: 1px solid #CC9933;
  outline-offset: 5px;
}

.contact-tel:hover {
  color: #CC9933;
}

.contact-tel:active {
  outline: none;
  color: #A47312;
  outline-offset: 0;
}

/* main */

.title {
  margin: 0;
  padding: 0;
}

.strelka {
  position: relative;
  left: 4px;
  top: 4px;
  transform: translateX(5px);
}

.special__content {
  justify-content: space-between;
}

.left {
  flex-direction: column;
  justify-content: space-between;
  margin-right: 23px;
  margin-bottom: 0;
}

.special__item {
  position: relative;
  padding: 40px 40px 35px 45px;
  min-width: 573px;
  min-height: 258px;
  border-radius: 10px;
  flex-grow: 1;
}

.item-right {
  padding: 212px 40px 35px 45px;
}

.card_1 {
  margin-bottom: 23px;
  background-repeat: no-repeat;
  background-position: center;
  background: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url(../img/Maldivi.jpg);
  border-radius: 15px;
}

.card_2 {
  background-repeat: no-repeat;
  background-position: center;
  background: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url(../img/Krit.jpg);
  border-radius: 15px;
}

.card_3 {
  background-repeat: no-repeat;
  background-position: center;
  background: linear-gradient(to top, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url(../img/Lux.jpg);
  border-radius: 15px;
}

.card_1, .card_2, .card_3 {
  background-size: cover;
}

.title-card-special {
  max-width: 420px;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  color: #FFFFFF;
}

.title-card-special-left {
  max-width: 299px;
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
}

.special-more {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #F0BF5F;
  transition: outline-offset 0.3s ease-in-out;
}

.special-more:focus::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  outline: 1px solid #CC9933;
  outline-offset: 5px;
}

.special-more:focus {
  outline: none;
}

.special-more:hover .strelka {
  transform: translateX(10px);
  transition: transform 0.3s ease-in-out;
}

.special-more:active {
  color: #FFFFFF;
  outline: 0;
  outline-offset: 0;
}

.about-Us-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  color: #000000;
  max-width: 888px;
}

.list-services {
  flex-wrap: wrap;
}

.list-services-item {
  position: relative;
  padding: 191px 30px 30px 45px;
  margin-bottom: 24px;
  width: 550px;
  min-height: 330px;
  border-radius: 15px;
}

.card-image-1 {
  background: url(../img/uslugi-1.jpg);
  background-repeat: no-repeat;
  background-color: #FFFFFF;
}

.card-image-2 {
  background: url(../img/uslugi-2.jpg);
  background-repeat: no-repeat;
  background-color: #FFFFFF;
}

.card-image-3 {
  background: url(../img/uslugi-3.jpg);
  background-repeat: no-repeat;
  background-color: #FFFFFF;
}

.card-image-4 {
  background: url(../img/uslugi-4.jpg);
  background-repeat: no-repeat;
  background-color: #FFFFFF;
}

.list-services-item:not(:nth-child(2n)) {
  margin-right: 24px;
}

.list-services-item:nth-last-child(-n+2) {
  margin-bottom: 0;
}

.services-different {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 200%;
  color: #CC9933;
  transition: color 0.3s ease-in-out;
}

.service-strelka {
  stroke: #CC9933;
  transform: translateX(5px);
}

.services-different:focus::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  outline: 1px solid #CC9933;
  outline-offset: 5px;
}

.services-different:focus-visible {
  outline: none;
}

.services-different:hover {
  color: #F0BF5F;
}

.services-different:hover .service-strelka {
  transform: translateX(10px);
  transition: transform 0.3s ease-in-out;
}

.services-different:active {
  color: #A47312;
  outline: 0;
  outline-offset: 0;
}

.services-different:active .service-strelka {
  stroke: #A47312;
}

.list-ser-text {
  max-width: 402px;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  color: #000000;
}

.list-advantages {
  flex-wrap: wrap;
}

.card-advantages-item {
  padding: 40px 42px 32px 45px;
  margin-right: 22px;
  margin-bottom: 22px;
  width: 276px;
  min-height: 276px;
  background-color: #FFFFFF;
  border-radius: 15px;
}

.adv-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  color: #000000;

}

.special-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: #FFFFFF;
  margin-bottom: 47px;
  opacity: 0.8;
}

.text-right {
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  color: #FFFFFF;
  opacity: 0.8;
}

.card-advantages-item:nth-last-child(-n+4) {
  margin-bottom: 0;
}

.card-advantages-item:nth-child(4n) {
  margin-right: 0;
}

.card-accommodation {
  flex-wrap: wrap;
}

.list-accommodation {
  width: 374px;
  margin-right: 22px;
  margin-bottom: 22px;
  background: #FFFFFF;
  overflow: hidden;
  border-radius: 15px;
}

.list-accommodation:nth-child(3n+3) {
  margin-right: 0;
}

.list-accommodation:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.article-accommodation {
  padding: 45px 32px;
}

.title-accommodation {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #000000;
}

.accommodation-text {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #000000;
}

.ot {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #999999;
}

.price {
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
}

.mesto {
  margin-bottom: 33px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #999999;
}

.number {
  display: inline-block;
  padding: 13px 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  background-color: #FFFFFF;
  color: #CC9933;
  border: 1px solid #CC9933;
  border-radius: 10px;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.number:focus {
  background-color: #CC9933;
  color: #FFFFFF;
  border: 1px solid #CC9933;
}

.number:focus-visible {
  outline: none;
}

.number:hover {
  background-color: #CC9933;
  color: #FFFFFF;
}

.number:active {
  background-color: #A47312;
  color: #FFFFFF;
}

.all-var {
  position:relative;
  background: url(../img/all-variant-jpg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: flex-end;
  padding: 27px;
  justify-content: center;
}

.all-variant {
  font-weight: 500;
  font-size: 20px;
  line-height: 200%;
  color: #FFFFFF;
}

.all-variant:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.all-var:focus-within {
  outline: 1px solid #CC9933;
  outline-offset: 5px;
}

.all-variant:hover .strelka {
  transform: translateX(10px);
  transition: transform 0.3s ease-in-out;
}

.all-variant:focus-visible {
  outline: none;
}

.all-variant:hover {
  color: #F0BF5F;
}

.all-variant:active, .all-var:active {
  color: #A47312;
  outline: 0;
  outline-offset: 0;
}


/* tour */

.tour {
  background-color: #E9E9E9;
  border-radius: 15px;
  padding: 45px;
}

.form {
  background-color: #fff;
  border-radius: 15px;
  padding: 30px 28px;
}

.tour-text {
  display: block;
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #000000;
}

.select-list {
  list-style: none;
  margin-right: 41px;
}

.select-list:nth-last-child(-n+2) {
  margin-right: 55px;
}

.select-list:last-child {
  margin-right: 0;
}

.list-left {
  min-width: 169px;
}

.list-right {
  min-width: 121px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
opacity: 1;
}

.bord {
  border-bottom: 1px solid #E9E9E9;
}

.tour-item {
  width: 121px;
  margin: 0;
  appearance: none;
  -webkit-appearance: none;
  border: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #000000;
}

.tour-lable-str {
  background: url(../img/Rectangle\ 2\ str.svg);
  min-width: 169px;
  background-position: right;
  background-repeat: no-repeat;
  align-items: center;
  cursor: pointer;
}

.btn-tour {
  padding: 13px 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
}

/* Contacts */

.contacts-content {
  padding: 45px;
  border-radius: 15px;
  background-image: url(../img/Layer\ 2\ 1.jpg);
  background-repeat: no-repeat;
  background-position: 91% center;
  background-color: #FFFFFF;
}

.contacts-list {
  max-width: 380px;
}

.contacts-item {
  padding-bottom: 23px;
  margin-bottom: 25px;
  line-height: 24px;
  border-bottom: 1px solid #E9E9E9;
  display: flex;
  justify-content: space-between;
}

.contacts-item:last-child {
  margin-bottom: 0;
}

.contacts-address {
  max-width: 200px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #000000;
}

.contacts-text {
  margin: 0px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #999999;
}

.contacts-number {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #CC9933;
  transition: color 0.3s ease-in-out;
}

.site-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #CC9933;
  transition: color 0.3s ease-in-out;
}

.site-link:focus, .contacts-number:focus {
  color: #CC9933;
  outline: 1px solid #CC9933;
  outline-offset: 2px;

}

.site-link:hover, .contacts-number:hover {
  color: #F0BF5F;
}

.site-link:active, .contacts-number:active {
  outline: 0;
  color: #A47312;
  outline-offset: 0;
}

.contacts-wrapper {
  min-width: 235px;
  text-align: start;
}

.contacts-title {
  max-width: 105px;
  margin-right: 42px;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
}

.contacts-btn {
  margin-top: 45px;
  padding: 27px 29px;
}

/* footer */

.footer {
  padding-bottom: 30px;
}

.footer-block {
  padding: 45px;
  background-color: #333333;
  border-radius: 15px;
  background-image: url(../img/Frame\ 11.svg);
  background-position-x: 80%;
  background-position-y: 100%;
  background-repeat: no-repeat;
}

.footer-elem-first {
  display: inline-block;
  margin-right: 125px;
  max-width: 302px;
}

.footer-elem-second {
  display: inline-block;
  margin-right: 269px;
  max-width: 359px;
}

.footer-elem-third {
  max-width: 25px;
}

.elem-descr {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 190%;
  color: #ffffff;
}

.footer-elem:not(:nth-child(3)) {
  margin-bottom: 20px;
}

.elem-descr-net {
  margin-bottom: 37px;
}

.elem-descr-ref {
  margin-bottom: 40px;
}

.elem-descr-off {
  margin-bottom: 15px;
}

.elem-link-tel-two {
  margin-bottom: 15px;
}

.elem-link-social {
  display: flex;
  transition: background-color 0.3s ease-in-out, fill 0.3s ease-in-out, border-radius 0.3s ease-in-out;
}

.elem-link-social svg {
  fill: #999999;
  transition: background-color 0.3s ease-in-out, fill 0.3s ease-in-out, border-radius 0.3s ease-in-out;
}

.elem-link-social:focus svg {
  fill: #CC9933;
  background-color: #fff;
  border-radius: 20px;
}

.elem-link-social:hover svg {
  fill: #CC9933;
  background-color: #fff;
  border-radius: 20px;
}

.elem-link-social:active svg {
  fill: #A47312;
}

.elem-link {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #cc9933;
  transition: color 0.3s ease-in-out;
}

.elem-link:focus {
  color: #CC9933;
  outline: 1px solid #CC9933;
  outline-offset: 5px;
}

.elem-link:hover {
  color: #F0BF5F;
}

.elem-link:active {
  outline: 0;
  color: #A47312;
  outline-offset: 0;
}
