@media (max-width: 1600px) {
  .container {
    padding: 0 15px;
  }

  .swiper-text {
    padding: 50px 455px 50px 50px;
  }

  .about__content {
    padding: 30px;
  }

  .about__content .about__descr {
    margin-right: 20px;
  }

  .about__item {
    padding: 40px 40px 50px 270px;
  }

  .about__one {
    background-position: 35px 64px;
  }

  .about__two {
    background-position: 35px 64px;
  }

  .how__step::after {
    border-radius: 32px;
  }

  .how__descr {
    margin-bottom: 50px;
    width: 95%;
  }

  .footer__container {
    padding: 50px 15px;
  }

  .footer__links {
    margin-right: 200px;
    width: 300px;
  }

  .footer__logo {
    margin-bottom: 28px;
  }

  .footer__nav {
    margin-bottom: 115px;
  }

  .footer__form {
    display: flex;
    margin-right: 200px;
    flex-direction: column;
    align-items: center;
  }

  .footer__title {
    width: 100%;
  }

  .form__button {
    margin-right: 0;
    margin-bottom: 12px;
    width: 70%;
  }
}

@media (max-width: 1440px) {
  .header__nav {
    margin-right: auto;
  }

  .about__item {
    height: auto;
    padding: 35px 20px 50px 260px;
  }

  .how__step {
    height: 492px;
  }

  .how__descr {
    margin-bottom: 17px;
  }

  .footer__links {
    margin-right: 145px;
  }

  .footer__form {
    margin-right: 145px;
  }

  .footer__title {
    white-space: nowrap;
  }

  .footer__descr {
    padding-top: 15px;
  }
}

@media (max-width: 1200px) {
  .header__nav {
    margin-right: 80px;
  }

  .nav__item:not(:last-child) {
    margin-right: 65px;
  }

  .swiper-text {
    padding: 50px 230px 50px 50px;
  }

  .about__descr {
    width: 85%;
  }

  .about__articles {
    flex-direction: column;
  }

  .about__principles {
    margin-bottom: 32px;
    width: 100%;
    height: 640px;
  }

  .about__content .about__descr {
    margin-right: 185px;
  }

  .about__cards {
    display: flex;
    width: 100%;
  }

  .about__item {
    padding: 35px 20px 35px 190px;
    height: auto;
  }

  .about__item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 32px;
  }

  .about__one {
    background-size: 150px 120px;
    background-position: 25px 80px;
  }

  .about__two {
    background-size: 150px 120px;
    background-position: 25px 80px;
  }

  .how__step {
    height: auto;
  }

  .footer__links {
    margin-right: 60px;
  }

  .footer__form {
    margin-right: 60px;
  }
}

@media (max-width: 1024px) {
  .container {
    margin: 11px 34px 13px 50px;
    padding: 0;
  }

  .header {
    margin-bottom: 40px;
  }

  .header__container {
    justify-content: space-between;
  }

  .header__burger {
    display: inline-block;
    position: relative;
    margin-right: 80px;
    padding: 0;
    width: 30px;
    height: 23px;
    background-color: transparent;
    border: none;
  }

  .header__line {
    position: absolute;
    left: 50%;
    width: 30px;
    height: 3px;
    background-color: #000000;
    transform: translateX(-50%);
  }

  .header__line:nth-child(1) {
    top: 0;
  }

  .header__line:nth-child(2) {
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .header__line:nth-child(3) {
    bottom: 0;
  }

  .header__logo {
    margin-left: auto;
  }

  .header__logo img {
    width: 150px;
    height: 48px;
  }

  .header__nav .nav__list {
    display: none;
  }

  .swiper {
    min-height: 670px;
  }

  .swiper-text {
    padding: 160px 77px 160px 77px;
  }

  .hero__title {
    margin-bottom: 16px;
    font-size: 60px;
    line-height: 73px;
  }

  .hero__descr {
    margin-bottom: 60px;
    font-size: 20px;
    line-height: 24px;
  }

  /* .hero__button {
    margin-bottom: 20px;
  } */

  .main__hero {
    margin-bottom: 0;
  }

  .main__about {
    padding-top: 10px;
  }

  .about__descr {
    margin-bottom: 60px;
    width: 100%;
  }

  .about__content {
    padding: 50px;
  }

  .about__content .about__descr {
    margin-right: 185px;
  }

  .about__button {
    padding: 20px 34px;
  }

  .about__cards {
    flex-direction: column;
  }

  .about__item {
    padding: 62px 136px 35px 317px;
    height: auto;
    background-size: 190px 165px;
    background-position: 75px 61px;
  }

  .about__item:not(:last-child) {
    margin-bottom: 33px;
    margin-right: 0;
  }

  .main__about {
    margin-bottom: 0;
  }

  .how {
    padding-top: 56px;
  }

  .how__step {
    height: auto;
  }

  .how__step::after {
    left: 53%;
    width: calc(94% / 2);
    min-height: 100%;
  }

  .how__list {
    margin-bottom: 59px;
  }

  .how__descr {
    margin-bottom: 25px;
    width: 85%;
  }

  .how__content {
    width: calc(100% / 2);
  }

  .how__button {
    margin-right: 28px;
  }

  .main__how {
    margin-bottom: 0;
  }

  .faq__list {
    width: 100%;
  }

  .list__item {
    height: 114px;
  }

  .list__item:nth-child(2n) {
    height: 122px;
    padding-top: 27px;
    padding-right: 60px;
  }

  .list__descr {
    width: 84%;
    font-size: 20px;
    line-height: 32px;
  }

  .main__faq {
    margin-bottom: 0;
    /* padding-top: 57px; */
  }

  .footer__container {
    padding: 50px 0;
  }

  .footer {
    padding-top: 21px;
  }

  .faq-title3 {
    font-weight: 700;
    font-size: 20px;
  }

  .footer__descr {
    display: none;
  }

  .footer__links {
    margin-right: 99px;
  }

  .footer__logo {
    margin-bottom: 16px;
  }

  .footer__nav {
    margin-bottom: 90px;
  }

  .footer__form {
    display: block;
    margin-right: 0;
  }

  .form__checkbox {
    white-space: nowrap;
  }

  .form__button {
    padding: 19px 38px;
    margin-right: 151px;
    margin-bottom: 0;
    width: 241px;
  }

}

/* ######################################################################################################################### */

@media (max-width: 768px) {

  .header {
    padding-top: 0;
    border-radius: 0px 0px 24px 24px;
  }

  .container {
    margin: 11px 34px -3px 50px;
    padding: 0;
  }

  .header__search {
    top: 4px;
  }

  .swiper {
    min-height: 663px;
    border-radius: 24px;
  }

  .swiper-text {
    padding: 160px 40px;
  }

  .hero__title {
    margin-bottom: 15px;
    font-size: 50px;
    line-height: 61px;
  }

  .hero__descr {
    font-size: 18px;
    line-height: 22px;
  }

  .main__about {
    padding-top: 26px;
  }

  .about__title {
    margin-bottom: 21px;
  }

  .about__descr {
    margin-bottom: 54px;
  }

  .about__item .about__title {
    margin-bottom: 9px;
  }

  .about__principles {
    height: 650px;
    border-radius: 24px;
  }

  .about__content {
    padding: 34px 40px;
    border-radius: 24px;
  }

  .about__content .about__descr {
    margin-right: 50px;
  }

  .about__item {
    min-height: 235px;
    padding: 36px 43px 33px 170px;
    height: auto;
    background-size: 114px 99px;
    background-position: 39px 67px;
    border-radius: 24px;
  }

  .about__item:not(:last-child) {
    margin-bottom: 29px;
  }

  .main__how {
    padding-top: 73px;
  }

  .how__list {
    margin-bottom: 49px;
    justify-content: space-between;
  }

  .how__item:not(:last-child) {
    margin-right: 0;
  }

  .how__title {
    margin-bottom: 46px;
  }

  .how__step {
    padding-top: 335px;
    min-height: 799px;
    flex-direction: column-reverse;
  }

  .how__content {
    width: 100%;
  }

  .how__step::after {
    width: 100%;
    min-height: 284px;
    top: 0;
    left: 0;
    border-radius: 24px;
  }

  .how__descr {
    min-width: 100%;
    margin-right: 0;
    margin-bottom: 58px;
  }

  .how__button {
    margin-right: 26px;
    padding: 20px 39px;
  }

  .main__how {
    margin-bottom: 24px;

  }

  .list__item:not(:first-child) {
    padding: 28px 156px 24px 0px;
    height: 124px;
  }

  .list__item:nth-child(2n + 3) svg {
    top: 53px;
  }

  .list__descr {
    width: 570px;
    line-height: 31px;
  }

  .main__faq {
    margin-bottom: 101px;
    padding-top: 16px;
  }

  .footer__container {
    flex-direction: column-reverse;
  }

  .footer__nav {
    display: none;
  }

  .footer__form {
    margin-bottom: 50px;
    width: 541px;
  }

  .footer__links {
    margin-right: 0;
  }

  .footer__logo {
    margin-bottom: 10px;
  }
}

/* ########################################################################################### */

@media (max-width: 576px) {
  .container {
    margin: 0 15px;
  }

  .header {
    margin-bottom: 30px;
  }

  .header__logo img {
    width: 110px;
    height: 35px;
  }

  .header__burger {
    padding-left: 20px;
  }

  .header__nav {
    padding-top: 78px;
    padding-left: 15px;
  }

  .swiper {
    min-height: 309px;
    border-radius: 16px;
  }

  .swiper-text {
    padding: 60px 22px;
    text-align: center;
  }

  .hero__title {
    margin-bottom: 6px;
    font-size: 20px;
    line-height: 24px;
  }

  .hero__descr {
    margin-bottom: 32px;
    font-size: 12px;
    line-height: 15px;
  }

  .hero__button {
    padding: 13px 28px;
    font-size: 12px;
    line-height: 15px;
  }

  .main__hero {
    margin-bottom: 60px;
  }

  .about__title {
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 29px;
  }

  .about__descr {
    margin-bottom: 14px;
    font-size: 14px;
    line-height: 28px;
  }

  .about__principles {
    margin-right: 0;
    height: auto;
    background: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }

  .about__content::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200px;
    background-image: url("../img/project-back-mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
  }

  .about__content {
    position: relative;
    padding: 0;
    height: 403px;
    background: none;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
  }

  .about__content .about__descr {
    margin-right: 0;
    margin-bottom: 12px;
    font-weight: 400;
    color: #000000;
  }

  .about__button {
    padding: 10px 41px;
    height: auto;
    font-size: 12px;
    line-height: 15px;
    color: #ff9900;
    border-radius: 8px;
  }

  .about__item {
    padding: 0;
    padding-top: 60px;
    height: auto;
    border: 0;
    background-size: 64px 58px;
    background-position: top left;
  }

  .about__item:not(:last-child) {
    margin-bottom: 31px;
  }

  .about__articles .about__title {
    margin-bottom: 4px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
  }

  .main__about {
    margin-bottom: 61px;
  }

  .how__container {
    display: flex;
    flex-direction: column;
  }

  .how__title {
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 29px;
  }

  .how__list {
    margin-bottom: 16px;
  }

  .how__item {
    font-size: 14px;
    line-height: 17px;
  }

  .how__elem:not(:last-child) {
    margin-right: 44px;
  }

  .how__step {
    padding-top: 176px;
    height: auto;
    flex-direction: column;
  }

  .how__step::after {
    margin-bottom: 16px;
    width: 100%;
    min-height: 160px;
    border-radius: 16px;
  }

  .how__content .how__title {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
  }

  .how__descr {
    margin-bottom: 109px;
    font-size: 14px;
    line-height: 28px;
  }

  .how__button {
    margin-right: 10px;
    padding: 12px 43px;
    font-size: 12px;
    line-height: 15px;
    border-radius: 8px;
  }

  .how__contract {
    padding: 11px 30px;
    font-size: 12px;
    line-height: 15px;
    border-radius: 8px;
  }

  .main__how {
    margin-bottom: 59px;
  }

  .faq__title {
    margin-bottom: 16px;
    font-size: 24px;
    line-height: 29px;
  }

  .list__item {
    padding: 30px 0;
  }

  .list__item:not(:first-child) {
    height: 132px;
  }

  .list__item:not(:last-child) {
    height: 132px;
  }

  .list__item:first-child {
    height: 114px;
  }

  .list__item:last-child {
    height: 109px;
  }

  .list__descr {
    width: 255px;
    height: auto;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
  }

  .main__faq {
    margin-bottom: 59px;
  }

  .footer__container {
    padding: 34px 0;
  }

  .footer__form {
    display: flex;
    margin-bottom: 16px;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .footer__title {
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 29px;
  }

  .form__input {
    padding: 14px 0 14px 20px;
    font-size: 14px;
  }

  .form__textarea {
    padding: 14px 0 14px 20px;
    margin-bottom: 25px;
    font-size: 14px;
  }

  .form__button {
    padding: 12px 28px;
    margin-bottom: 12px;
    margin-right: 0;
    width: auto;
    font-size: 12px;
    line-height: 15px;
    border-radius: 8px;
  }

  .footer__links {
    display: flex;
    padding-top: 16px;
    width: 100%;
    border-top: 1px solid #414141;
    flex-direction: column;
    align-items: center;
  }

  .footer__logo {
    margin-bottom: 16px;
    width: 131px;
    height: 42px;
  }

  .footer__social {
    width: 40px;
    height: 40px;
  }

  .footer__social svg {
    width: 40px;
    height: 40px;
  }

  .footer__social:not(:last-child) {
    margin-right: 16px;
  }

  .header__search {
    width: 100%;
    height: 69px;
    top: 0;
    z-index: 1003;
    border-radius: 0 0 24px 24px;
  }

  .header__button--active {
    transform: translateX(-30px);
    transform-origin: center;
    z-index: 1004;
  }
}

/* ####################################################################### */

@media (max-width: 320px) {

  .header {
    height: 69px;
    margin: 0;
    padding: 17px 0;
    border-radius: 0px 0px 16px 16px;
  }

  /* .header__container {
    padding: 0 10px 13px 15px;
  } */

  .header__burger {
    margin-right: 0;
  }

  .header__nav {
    display: none;
  }

  main {
    padding-top: 30px;
  }

  .hero__title {
    margin-bottom: 7px;
  }

  .hero__button {
    border-radius: 8px;
  }

  .main__hero {
    margin-bottom: 33px;
  }

  .about__content {
    padding-bottom: 4px;
  }

  .about__principles {
    margin-bottom: 29px;
  }

  .about__item:not(:last-child) {
    margin-bottom: 33px;
  }

  .main__about {
    margin-bottom: -13px;
  }

  .how__content .how__title {
    margin-bottom: -6px;
  }

  .how__descr {
    min-width: 91%;
    margin-bottom: 53px;
  }

  .how__content {
    margin-bottom: -100px;
  }

  .how__button {
    margin-right: 10px;
  }

  .main__how {
    margin-bottom: 103px;
  }

  .faq-title3 {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
  }

  .list__item svg {
    width: 30px;
    height: 30px;
  }

  .list__item svg:not(:first-child) {
    top: 64px;
  }

  .list__item svg:not(:first-child):not(:last-child) {
    top: 50px;
  }

  .list__item:not(:first-child) {
    padding: 28px 52px 24px 0px;
    height: 124px;
  }

  .list__item {
    padding: 30px 0;
  }

  .list__item:not(:last-child) {
    height: 132px;
  }

  .list__item:first-child {
    height: 113px;
  }

  .list__item:last-child {
    height: 109px;
  }

  .main__faq {
    margin-bottom: 6px;
  }

  .form__button {
    margin-right: 58px;
    margin-bottom: 0;
  }

  .form__textarea {
    margin-bottom: 24px;
  }
}
